[alias]
  logxx = log -16 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(magenta)<%an>%Creset' --abbrev-commit
  logx = log -12 --graph --pretty=format:'%s %Cgreen(%cr) %C(magenta)<%an>%Creset' --abbrev-commit
  diffx = diff --cached
  diff1 = diff HEAD^ HEAD
  trash ="!x(){ git stash push -u && git stash drop ;};x"
  current = rev-parse --abbrev-ref HEAD
  ppush = push -u origin HEAD
  sync = "!x() { git fetch origin $1:$1 ;}; x" 
  
  # from https://github.com/brauliobo/gitconfig/blob/master/configs/.gitconfig
  change-commits = "!x() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
  
  delete = "!x() { git push origin --delete $1 ;}; x"
  rename = "!x() { git checkout $1 && git branch -m $2 && git push origin -u $2 && git delete $1 ;}; x"
  
  # write your own name and email address
  confighome = "!x() { git config --global user.name 'your home name' && git config --global user.email "your.hoem@email" ;};x"     
  configwork = "!x() { git config --global user.name 'your work name' && git config --global user.email "your.work@email" ;};x"
  back = checkout -
